body{
	background-color: pink
}
.isi{
	background-color: blue;
}
#bagian1{
	text-align: left;
	color: white;
	font-family: arial;
	text-decoration: bold;
}
#bagian2{
	text-align: right;
	color: black;
	font-family: verdana;
	text-decoration: underline;
}
